# phase 1 start ----------------
index.html
createNew.html
customTarget.html
mappingOn.html
settings.html
validate.html
media.html
surveyHistory.html
surveySetting.html

# phase 2 start --------------
age.html
customAnswer.html
gender.html
customQuotas.html
netRapQuotas.html
createAudience.html
editAudience.html
live.html
audienceQuestion.html
designerOverview.html
questionType.html
designerDetails.html